.mento-form-profile {
  width: 42.2rem;
  margin: 0 auto;

  &__form {
    margin: 0 auto;
  }

  &__input {
    padding: 1rem;
    border-radius: 4px;
    width: 42.2rem;

    &:hover {
      border-color: #8d48ec;
      box-shadow: 0.5px 0.5px 5px 0.1px#8d48ec;
    }

    &:focus {
      border-color: #8d48ec;
      box-shadow: 0.5px 0.5px 5px 0.1px#8d48ec;
    }
  }

  &__button-form {
    margin: 4rem auto;
  }

  &__button {
    padding: 1.7rem 6.9rem;
    display: flex;
    align-items: center;
    background-color: #6200ee;
    border-radius: 4px;

    &-form {
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: #7e2df0;
    }
  }
}

.ant-form-vertical .ant-form-item-label > label,
.ant-col-24.ant-form-item-label > label,
.ant-col-xl-24.ant-form-item-label > label {
  color: #00000099;
  font-size: 1.6rem;
}

[class^="ant-"],
[class*="ant-"],
[class^="ant-"] *,
[class*="ant-"] *,
[class^="ant-"] *::before,
[class*="ant-"] *::before,
[class^="ant-"] *::after,
[class*="ant-"] *::after {
  text-align: left;
}

.ant-form-item-control-input-content {
  text-align: center;
  display: flex;
  justify-content: center;
}
